$theme-colors: (
        "primary": #5EAE53,
        "accent": #F6B76C,
);
$font-family-sans-serif: 'Work Sans', 'DM Sans', -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-cursive: 'Caveat', cursive;